{% extends 'base.html' %}

{% block title %}Available Cell Lines{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h2>Cell Lines</h2>
            <table class="table table-striped">
                <tr>
                    <th>Cell Line name</th>
                    <th>Primary site</th>
                    <th>Primary histology</th>

                </tr>
                {% for l in lines %}
                    <tr>
                        <td>{{ l.name }}</td>
                        <td>{{ l.primary_site }}</td>
                        <td>{{ l.primary_hist }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}
