{% extends 'base.html' %}

{% block title %}Cell Line Microarray Data{% endblock title %}

{% block content %}
    <h1>Cell Line Microarray Data</h1>
    <p></p>
    <form action="{% url 'data' %}" method="post" target="_blank">{% csrf_token %}
        <h3>Step1 - Choose type of keywords (gene name or platform identifier):</h3>
        <h4>Gene:</h4>
        <label class="radio-inline">
            <input type="radio" name="gtype" value="symbol" checked>Gene symbol
        </label>
        <label class="radio-inline">
            <input type="radio" name="gtype" value="entrez">Entrez Gene ID
        </label>
        <!--
        <label class="radio-inline">
            <input type="radio" name="gtype" value="entrez">GenBank accession
        </label>
        -->
        <h4>Platform identifier:</h4>
        <label class="radio-inline">
            <input type="radio" name="gtype" value="probeid">Probe ID
        </label>

        <h3>Step2 - Input keywords:</h3>
        <p>For more than one keywords, please separate with space or new line</p><!--grammar problem,need fix later-->
        <p>Example(probe id):1007_s_at 1053_at</p>
        
        <style type="text/css">  
                    .help {display: none}
        </style> 
        <div class="form-group">
                 
                <label for="keyword">Keyword:</label>
                <textarea class="form-control" rows="5" id="keyword" name="keyword"
                style="width:300px;height:100px;" required="required" 
                placeholder="Enter keyword"/></textarea> 
                <span class="help" style="color:red;" name="needed1">*Please fill in this part</span>  
        </div>
        

        <h3>Step3 - Enter the cell line name:</h3>
        <p><a href="{% url 'cell_lines' %}" target="_blank">See All</a></p>
        <div class="radio">
            <label>
                <input type="radio" name="cell_line_method" value="text" id="text" checked>
                Input cell line name
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="cell_line_method" value="select" id="select" >
                Select by dataset and primary sites
            </label>
        </div>
        <div id="t_cellline">
        <p>For more than one cell lines, please separate with space or new line</p>
        <span class="help" style="color:red;" name="needed3">*Please enter at least one cell line <br /></span>
        <textarea class="form-control" rows="5" id="cellline" 
        style="width:300px;height:100px;"
        type="text" name="cellline" placeholder="Enter cell line name"/></textarea> 
        </div>
        
        
        <!--a try to do primary site list-->
        <div id="multiple_select">
        <div style="text-indent : 2em ;">
        <p>First choose the dataset, then select the primary site you want for each dataset.</p>
        <p>Please select dataset(s):</p>        
        <span class="help" style="color:red;" name="needed2">*Please check at least one dataset and primary site<br /></span>
        
        <label class="checkbox-inline"><input type="checkbox" name="dataset" id="sanger" value="Sanger Cell Line Project">Sanger Cell Line Project</label>
        <label class="checkbox-inline"><input type="checkbox" name="dataset" id="nci" value="NCI60">NCI60</label>
        <label class="checkbox-inline"><input type="checkbox" name="dataset" id="gse" value="GSE36133">GSE36133</label>

        </div>
        <div id="checking"></div>
        
        
        
        {% for name,alias,samples,dataset in datasets %}
        <div class="panel panel-default" name="{{alias}}_table">
        <span class="help" style="color:red;text-indent : 1em ;" name="{{alias}}_needed">*The cell line selection part of {{name}} cannot be empty.<br /></span>
          
          <div class="panel-heading">{{name}}:</div>
          <div class="panel-body">
            <p>please select the cell line you want</p>
            <select multiple="multiple" id="select_{{alias}}" name="select_{{alias}}">
            
            {% for p,cell in dataset %}
            <optgroup label="{{p}}" id="optgroup3">
                    {% for c in cell %}
                    <option value="{{ c }}">{{ c }}</option>
                    {% endfor %}
            </optgroup>     
            {% endfor %}
                     
            </select>
          </div>
          <div id="test_{{alias}}"></div>
          <br />
          <p style="text-indent : 1em ;">If you don't want to see all the cell line you selected, press "Hide All" to hide them</p>
          <p style="text-indent : 1em ;">Press "Show" to see them again</p>
          <input type="button" class="btn btn-default" value="Hide All" id="hide_{{alias}}">
          <input type="button" class="btn btn-default" value="Show" id="show_{{alias}}">
          <!-- Table -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Cell Line name</th>
                    <th>Primary site</th>
                    <th>Primary histology</th>
                    <th>dataset</th>
                </tr>
                </thead>
                <tbody>
                {% for l in samples %}
                    {# Add display:none to increase HTML DOM loading #}
                    <tr name="{{l.cell_line_id.name}}" class="class_{{alias}}" style="display:none">
                        <td>{{ l.cell_line_id.name }}</td>
                        <td>{{ l.cell_line_id.primary_site }}</td>
                        <td>{{ l.cell_line_id.primary_hist }}</td>
                        <td>{{name}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
        </div>
        
        
        <h3>Step4 - Normalize method:</h3>
        <div class="radio">
            <label>
                <input type="radio" name="normalize" value="RPL41" >
                CV: minimum coefficient of variance(gene:RPL41)
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="normalize" value="GAPDH" checked>
                GAPDH
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="normalize" value="ACTB">
                ACTB(beta-actin)
            </label>
        </div>
        <div id="select_error"></div>
        <button class="btn btn-default" type="submit" id="submit">Submit</button>
        
    </form>
 <div id="t_try"></div>
{% endblock content %}
{% block scripts %}
<script src="static/css/multiple-select.js"></script>

<script>
        $("select").multipleSelect({
            filter: true,
            multiple: true,
            //multipleWidth:100,
            width: '100%'
        });
</script>
<script>
$("#submit").click(function() {  
  if ($("#keyword").val() == "") 
  {
    $("span[name='needed1']").show();
    return false;
    
  }
  if ($("#text").is(':checked'))
  {
      if ($("#cellline").val() == "") 
      {
        $("span[name='needed3']").show(); 
        return false;
      }
  }
  else
  {
    ef=0;
    if($( "input[name='dataset']:checked" ).length==0)
    {
        $("span[name='needed2']").css('display', 'block');
        return false;
    }
    else
    {
        $("span[name='needed2']").hide();
    };
    var name={{an}};
    l=name.length;
    for(var j=0;j<l;j++)
    {
        if($("#"+name[j]).is(':checked'))
        {
            if( !$("#select_"+name[j]).val() ) 
            {
                $("span[name='"+name[j]+"_needed']").show();
                ef=1;
            }
            else
            {
                $("span[name='"+name[j]+"_needed']").hide();
            }
        }
    }
    if(ef==1)
    {
        alert("error!!!");
        return false;
    }
    
   };   
  
  
    
}); 
</script>
<script>
$("input[id^='hide_']").click(function() {
    var id=$(this).attr("id");
    id=id.replace('hide_', '');
    
    $("tr[class='class_"+id+"']").hide(); 
}); 
$("input[id^='show_']").click(function() { 
    var id=$(this).attr("id");
    id=id.replace('show_', '');
    $( "select[name='select_"+id+"'] option:selected" ).each(function() {
      var indata=$( this ).text();
      $("tr[class='class_"+id+"'][name='"+indata+"']").show();
    }); 
}); 

</script>
<script>
$(document).ready(function () {
    $("div[class='panel panel-default']").hide();
    $("div[id='t_cellline']").show();
    $("div[id='multiple_select']").hide();
    $("tr[class='class1']").hide();
    $("#cellline").attr('required', '');
    $("input[name='cell_line_method']").change(function(){
        if ($("#text").is(':checked')) {
                
                $("div[id='multiple_select']").hide();
                $("div[id='t_cellline']").show();
                $("#cellline").attr('required', '');
            }
        if ($("#select").is(':checked'))
        {   
                $("div[id='multiple_select']").show();
                $("div[id='t_cellline']").hide();
                $("#cellline").removeAttr('required');
        }
    });
    $("input:checkbox").change(function(){
        var name={{an}};
        l=name.length;
        for(var j=0;j<l;j++)
        {
            if ($("#"+name[j]).is(':checked')) 
            {
            
                $("div[name='"+name[j]+"_table']").show();
            }
            else
            {   
                $("div[name='"+name[j]+"_table']").hide();
            }
            
        }
    });
    

$(document).on('change',"select[name^='select_']",function(){
    var str = "The cell line(s) you selected: ";
    var id=$(this).attr("id");
    id=id.replace('select_', '');
    $("tr[class='class_"+id+"']").hide();
    //$("#select_error").append("<p>"+ id +"</p>");
    $("select[name='select_"+id+"'] option:selected").each(function() {
      var indata=$( this ).text();
      $("tr[class='class_"+id+"'][name='"+indata+"']").show();
      str += $( this ).text() + " ,";
    });
    $( "#test_"+id ).text( str ).css("text-indent","1em");
  }).change(); 
});
</script>



{% endblock %}
