{% extends 'base.html' %}

{% block title %}Cell line Microarray Search Results{% endblock title %}
{% block extra_css %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<!--<link href="//cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />-->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.1.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/1.1.0/css/select.dataTables.min.css">
<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-flash-1.1.0,bhtml5-1.1.0,b-print-1.1.0/datatables.min.css"/>-->
<!--<style>
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>-->
{% endblock extra_css %}

{% block content %}
    <table id="example" class="display">
    <thead>
        <tr>
            <th>No.</th>
            <th>Dataset</th>
            <th>Cell Line name</th>
            <th>Primary site</th>
            <th>Primary histology</th>
            <th>Probe_id</th>
            <th>Gene_symbol</th>
            <th>Entrez_id</th>
            <th>Gene_name</th>
            <th>value</th>
            <th>ranking</th>
            <th>normalized</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>No.</th>
            <th>Dataset</th>
            <th>Cell line name</th>
            <th>Primary site</th>
            <th>Primary histology</th>
            <th>Probe_id</th>
            <th>Gene_symbol</th>
            <th>Entrez_id</th>
            <th>Gene_name</th>
            <th>value</th>
            <th>ranking</th>
            <th>normalized</th>
        </tr>
    </tfoot>

	<tbody>
		{% for c, p, val,rank, norm in cell_probe_val_pairs %}
		<tr>
            <td></td>
			<td>{{ c.dataset_id.name }}</td>
			<td>{{ c.cell_line_id.name }}</td>
			<td>{{ c.cell_line_id.primary_site }}</td>
			<td>{{ c.cell_line_id.primary_hist }}</td>
			<td>{{ p.Probe_id }}</td>
			<td>{{ p.Gene_symbol }}</td>
			<td>{{ p.Entrez_id }}</td>
			<td>{{ p.Gene_name }}</td>
			<td>{{ val|floatformat:4 }}</td>
            {% for i in rank%}
                <td>{{i}}</td>
            {% empty %}
                <td>nan</td>
            {% endfor %}
            <td>{{norm|floatformat:4}}</td>
		</tr>
		{% endfor %}

        {% for c, p, val,rank, norm in nci_cell_probe_val_pairs %}
		<tr>
            <td></td>
			<td>{{ c.dataset_id.name }}</td>
			<td>{{ c.cell_line_id.name }}</td>
			<td>{{ c.cell_line_id.primary_site }}</td>
			<td>{{ c.cell_line_id.primary_hist }}</td>
			<td>{{ p.Probe_id }}</td>
			<td>{{ p.Gene_symbol }}</td>
			<td>{{ p.Entrez_id }}</td>
			<td>{{ p.Gene_name }}</td>
			<td>{{ val|floatformat:4 }}</td>
            {% for i in rank%}
            <td>{{i}}</td>
            {% empty %}
                <td>nan</td>
            {% endfor %}
            <td>{{norm|floatformat:4}}</td>
		</tr>
		{% endfor %}   
        {% for c, p, val,rank, norm in CC_cell_probe_val_pairs %}
		<tr>
            <td></td>
			<td>{{ c.dataset_id.name }}</td>
			<td>{{ c.cell_line_id.name }}</td>
			<td>{{ c.cell_line_id.primary_site }}</td>
			<td>{{ c.cell_line_id.primary_hist }}</td>
			<td>{{ p.Probe_id }}</td>
			<td>{{ p.Gene_symbol }}</td>
			<td>{{ p.Entrez_id }}</td>
			<td>{{ p.Gene_name }}</td>
			<td>{{ val|floatformat:4 }}</td>
            {% for i in rank%}
            <td>{{i}}</td>
            {% empty %}
                <td>nan</td>
            {% endfor %}
            <td>{{norm|floatformat:4}}</td>
		</tr>
		{% endfor %}
    </tbody>
    </table>
    <!--<button>Export</button>-->
    <div class="bottom"></div>


{% endblock content %}

{% block scripts %}
<!--<script src="static/DataTables/meida/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>-->
<script src="//cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.1.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
<!--<script type="text/javascript" 
src="https://cdn.datatables.net/s/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-flash-1.1.0,bhtml5-1.1.0,b-print-1.1.0/datatables.min.js">
</script>-->

<script>
 $(document).ready(function() {
 //$('table[id="example"]').DataTable();

 var t = $('table[id="example"]').DataTable( {
        
        "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
        "order": [[ 1, 'asc' ]]
    } );
 
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    $('table[id="example"]').DataTable({
        destroy: true,
        dom: 'lfrtBip',
        buttons: [
            'csv'
        ]
    } );
        
 } );
</script>
<!--
<script src="/static/css/jquery.table2excel.js"></script>

<script>
$("button").click(function(){

  $('table[id="example"]').table2excel({

    // exclude CSS class

    exclude: ".noExl",

    name: "Worksheet Name",

    filename: "SomeFile.xls" //do not include extension

  });

});
</script>-->
{% endblock %}

   
 
    
    

