{% extends 'base.html' %}

{% block title %}Search Results{% endblock title %}

{% block content %}
    <table id="example" class="table table-striped display">
    <thead>
        <tr>
            <th>Dataset</th>
            <th>Cell Line name</th>
            <th>Primary site</th>
            <th>Primary histology</th>
            <th>Probe_id</th>
            <th>Gene_symbol</th>
            <th>Entrez_id</th>
            <th>Gene_name</th>
            <th>value</th>
            <th>normalized</th>
        </tr>
    </thead>

	<tbody>
		{% for c, p, val in cell_probe_val_pairs %}
		<tr>
			<td>{{ c.dataset_id.name }}</td>
			<td>{{ c.cell_line_id.name }}</td>
			<td>{{ c.cell_line_id.primary_site }}</td>
			<td>{{ c.cell_line_id.primary_hist }}</td>
			<td>{{ p.Probe_id }}</td>
			<td>{{ p.Gene_symbol }}</td>
			<td>{{ p.Entrez_id }}</td>
			<td>{{ p.Gene_name }}</td>
			<td>{{ val }}
		</tr>
		{% endfor %}

        {% for c in ncicell %}
            {% for p in ncigene %}
                <tr>
                    <td>{{ c.dataset_id.name }}</td>
                    <td>{{ c.cell_line_id.name }}</td>
                    <td>{{ c.cell_line_id.primary_site }}</td>
                    <td>{{ c.cell_line_id.primary_hist }}</td>
                    <td>{{ p.Probe_id }}</td>
                    <td>{{ p.Gene_symbol }}</td>
                    <td>{{ p.Entrez_id }}</td>
                    <td>{{ p.Gene_name }}</td>
                </tr>
            {% endfor %}
        {% endfor %}       
        {% for c in CCcell %}
            {% for p in ncigene %}
                <tr>
                    <td>{{ c.dataset_id.name }}</td>
                    <td>{{ c.cell_line_id.name }}</td>
                    <td>{{ c.cell_line_id.primary_site }}</td>
                    <td>{{ c.cell_line_id.primary_hist }}</td>
                    <td>{{ p.Probe_id }}</td>
                    <td>{{ p.Gene_symbol }}</td>
                    <td>{{ p.Entrez_id }}</td>
                    <td>{{ p.Gene_name }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
    </table>

    

    <p>
    {{raw_test}}
    </p>

{% endblock content %}

{% block scripts %}
<!--<script src="static/DataTables/meida/js/jquery.dataTables.js"></script>



<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>-->
{% endblock %}

