{% extends 'base.html' %}

{% block title %}Search Results{% endblock title %}
{% block extra_css %}

<link href="//cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.1.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/1.1.0/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-flash-1.1.0,bhtml5-1.1.0,b-print-1.1.0/datatables.min.css"/>

{% endblock extra_css %}

{% block content %}
    <table id="example" class="display">
    <thead>
        <tr>
            <th>Dataset</th>
            <th>Cell Line name</th>
            <th>Primary site</th>
            <th>Primary histology</th>
            <th>Probe_id</th>
            <th>Gene_symbol</th>
            <th>Entrez_id</th>
            <th>Gene_name</th>
            <th>value</th>
            <th>normalized</th>
        </tr>
    </thead>

	<tbody>
		{% for c, p, val in cell_probe_val_pairs %}
		<tr>
			<td>{{ c.dataset_id.name }}</td>
			<td>{{ c.cell_line_id.name }}</td>
			<td>{{ c.cell_line_id.primary_site }}</td>
			<td>{{ c.cell_line_id.primary_hist }}</td>
			<td>{{ p.Probe_id }}</td>
			<td>{{ p.Gene_symbol }}</td>
			<td>{{ p.Entrez_id }}</td>
			<td>{{ p.Gene_name }}</td>
			<td>{{ val }}</td>
            <td></td>
		</tr>
		{% endfor %}

        {% for c, p, val in nci_cell_probe_val_pairs %}
		<tr>
			<td>{{ c.dataset_id.name }}</td>
			<td>{{ c.cell_line_id.name }}</td>
			<td>{{ c.cell_line_id.primary_site }}</td>
			<td>{{ c.cell_line_id.primary_hist }}</td>
			<td>{{ p.Probe_id }}</td>
			<td>{{ p.Gene_symbol }}</td>
			<td>{{ p.Entrez_id }}</td>
			<td>{{ p.Gene_name }}</td>
			<td>{{ val }}</td>
            <td></td>
		</tr>
		{% endfor %}   
        {% for c, p, val in CC_cell_probe_val_pairs %}
		<tr>
			<td>{{ c.dataset_id.name }}</td>
			<td>{{ c.cell_line_id.name }}</td>
			<td>{{ c.cell_line_id.primary_site }}</td>
			<td>{{ c.cell_line_id.primary_hist }}</td>
			<td>{{ p.Probe_id }}</td>
			<td>{{ p.Gene_symbol }}</td>
			<td>{{ p.Entrez_id }}</td>
			<td>{{ p.Gene_name }}</td>
			<td>{{ val }}</td>
            <td></td>
		</tr>
		{% endfor %}
    </tbody>
    </table>

    


{% endblock content %}

{% block scripts %}
<!--<script src="static/DataTables/meida/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>-->
<script src="//cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.1.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/s/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-flash-1.1.0,bhtml5-1.1.0,b-print-1.1.0/datatables.min.js"></script>
<script>
 $(document).ready(function() {
 $('table[id="example"]').DataTable();
 } );
</script>
{% endblock %}

