{% extends 'base.html' %}

{% block title %}Gene Signature Explore{% endblock title %}

{% block content %}

<h1>Gene Signature Explore</h1>
</br>
<form action="{% url 'heatmap' %}" method="post" target="_blank">{% csrf_token %}
<h3>Step1 - Choose platform:</h3>
<style type="text/css">  
    .help {display: none}
</style> 
<div id="platform_type">
    <p>Please choose the platform:</p>
    <p>The input in Step2 and 4 should be based on the platform you selected.</p>
    <div class="radio">
        <label>
            <input type="radio" name="data_platform" value="U133A" id="U133A-id" checked>
            Affymatrix U133A platform
        </label>
    </div>
    
    <div class="radio">
        <label>
            <input type="radio" name="data_platform" value="PLUS2" id="PLUS2-id" >
            Affymatrix U133plus2 platform
        </label>
    </div>
    
</div>

<h3>Step2:</h3>
    <div class="radio">
        <label>
            <input type="radio" name="user_type" value="all" id="all" checked>
            Use all the probes
        </label>
    </div>
    <div id="significant">
        <p style="color:blue;text-indent : 2em ;">Please decide what level of significance you want to use on statistic test in Step4.</p>
        <label style="text-indent : 4em ;">
            <input type="radio" name="probe_number" value="0.05"checked>0.05</input>
            <input type="radio" name="probe_number" value="0.01">0.01 </input>
            
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="user_type" value="upload" id="upload">
            Input specific probes or genes
        </label>    
    </div>
    <div id="keys">
        <p style="color:blue;text-indent : 2em ;">Choose type of keywords (gene name or platform identifier):</p>
            
            <label style="text-indent : 4em ;">
                <input type="radio" name="gtype" value="symbol" checked>Gene symbol
                <input type="radio" name="gtype" value="probeid">Probe ID
            </label>
            

        <p style="color:blue;text-indent : 2em ;">Input more than 1 keywords:</p>
            <p style="text-indent : 4em ;">Please separate keywords with space or new line.</p><!--grammar problem,need fix later-->
            <p style="text-indent : 4em ;">Example(probe id):1007_s_at 1053_at</p>
            <style type="text/css" style="text-indent : 2em ;">  
                        .help {display: none}
            </style> 
            <div class="form-group">
                    <label for="keyword">Keyword:</label>
                    <textarea class="form-control" rows="5" id="keyword" name="keyword"
                    style="width:300px;height:100px;" required="required" 
                    placeholder="Enter keyword"/></textarea> 
            </div>
    </div>
</br>
<h3>Step3 - Define Groups:</h3>
<p>Two groups will use student t-test to evaluate the result.</p>
<p>For more than two groups, we will use one-way-ANOVA</p>
<p>The following input of the groups should be based on the platform you select in Step3.</p>
<p style="color:blue;">Notice: To prevent statistical error, please at least input 3 cell lines in each group.</p>
{% for i in "12" %}
    <div  id="group{{i}}">
    
    
        <h3>Group {{i}}:</h3>
        <div name="select_platform_g{{i}}" id="select_platform_g{{i}}">
            <p>Please select the datasets and related cell lines you want in each of the datasets.</p>
            
            
            <div id="select_a_g{{i}}">
                <span class="help" style="color:red;" name="needed{{i}}">*Please check at least one dataset<br /></span>
                <p>Cell line datasets:</p>
                <label class="checkbox-inline"><input type="checkbox" name="dataset_g{{i}}" id="sanger_g{{i}}" value="Sanger Cell Line Project">Sanger Cell Line Project(SCLP)</label>
            </div>
        
            
        
            <div id="select_plus2_g{{i}}">
                <span class="help" style="color:red;" name="needed{{i}}">*Please check at least one dataset<br /></span>
                <p>Cell line datasets:</p>
                <label class="checkbox-inline"><input type="checkbox" name="dataset_g{{i}}" id="nci_g{{i}}" value="NCI60">NCI60</label>
                <label class="checkbox-inline"><input type="checkbox" name="dataset_g{{i}}" id="ccle_g{{i}}" value="GSE36133">CCLE(GSE36133)</label>
                
            
            
                <p>Clinical datasets:</p>
                <!--<span class="help" style="color:red;" name="needed{{i}}">*Please check at least one dataset<br /></span>-->
                <label class="checkbox-inline"><input type="checkbox" name="dataset_g{{i}}" id="Roth_g{{i}}" value="Roth">Roth normal dataset</label>
                <label class="checkbox-inline"><input type="checkbox" name="dataset_g{{i}}" id="expO_g{{i}}" value="expO">Expression Project for Oncology (expO)</label>
            
            </div>
        </div>
    <div name="select_g{{i}}" id="select_g{{i}}">
        {% for name,alias,samples,dataset in cell_datasets %}
            <div class="panel panel-default" id="{{alias}}_table_g{{i}}">              
              <div class="panel-heading">{{name}}:</div>
              <div class="panel-body">
                <p>please select the cell lines you want:</p>
                <select multiple="multiple" id="select_{{alias}}_g{{i}}" name="select_{{alias}}_g{{i}}">
                
                {% for p,cell in dataset %}
                <optgroup label="{{p}}" id="optgroup1">
                        {% for c in cell %}
                        <option value="{{ c }}">{{ c }}</option>
                        {% endfor %}
                </optgroup>     
                {% endfor %}
                         
                </select>
              </div>
              <div id="test_{{alias}}_g{{i}}"></div>
              <br />

            </div>
        {% endfor %}
        
        <!--The clinical sample part-->
        {% with needed="needed_" primd="primd_" primh="primh_" test="test_"%} 
        {% for name,dataset,filter in datasets %}
        <div class="panel panel-default" id="{{name}}_table_g{{i}}">
          <span class="help" style="color:red;text-indent : 1em ;" name="{{needed}}{{name}}">*The primary histology selection part of {{name}} cannot be empty.<br /></span>
          <div class="panel-heading">{{name}}:</div>
          <div class="panel-body">
            <p>Please select the primary site or primary histology you want.</p>
            <select multiple="multiple" id="{{primd}}{{name}}_g{{i}}" name="{{primd}}{{name}}_g{{i}}">
            {% for prim,hist in dataset %}
            <optgroup label="{{prim}}" id="optgroup">
                    {% for h in hist %}
                    <option value="{{prim}}/{{ h }}">{{ h }}</option>
                    {% endfor %}
            </optgroup>     
            {% endfor %}
                     
            </select>
          
            <div id="{{test}}{{name}}_g{{i}}"></div>
            </br>
            <div name="filter_primd_g{{i}}">
            <p>Additional filter:(default is "All Selected")</p>
                    <select multiple="multiple" id="filter_{{name}}_g{{i}}" name="filter_{{name}}_g{{i}}">
                        {% for item,choice in filter %}
                        <optgroup label="{{item}}" id="optgroup">
                                {% for h in choice %}
                                <option value="{{item}}/{{ h }}">{{ h }}</option>
                                {% endfor %}
                        </optgroup>     
                        {% endfor %}
                             
                    </select>
              
            </div>
            </br>
          </div>
        </div>
        {% endfor %}
        {% endwith %}
        
    </div>

    </div>
{% endfor %}

    

<div id="more_group"></div>
<div id="error_display"></div>
<div id="select_error"></div>
</br>
<button type="button" class="btn btn-info" id="add_group">Add Group</button>
<button type="button" class="btn btn-info" id="delete_group">Delete Group</button>


<br />
<button class="btn btn-default" type="submit" id="submit">Submit</button>
</div>

{% endblock content %}

{% block scripts %}

<script src="static/css/multiple-select.js"></script>
<script>
        $("select").multipleSelect({
            filter: true,
            multiple: true,
            //multipleWidth:100,
            width: '100%'
        });
        $("select[name^='filter']").multipleSelect("checkAll");
</script>
<script>

$(document).ready(function () {
    $("div[id*='_table_g']").hide();  
    $("div[id^='select_platform_g']").show();
    $("div[id^='select_a_g']").show();
    $("div[id^='select_plus2_g']").hide();
    $("div[id='keys']").hide();
    $("div[id='significant']").show();
 
});  
$("#submit").click(function() { 
    var $div = $('div[id^="group"]:last');
    var num = parseInt( $div.prop("id").match(/\d+/g), 10 );
    
    var ef=0;
    $("#select_error").empty();
    for (var i=1;i<=num; i++)
    {
        if($( "input[name='dataset_g"+i+"']:checked" ).length==0)
        {
            ef=1;
            $("span[name='needed"+i+"']").css('display', 'block');
        }
        else
        {
            $("span[name='needed"+i+"']").css('display', 'none');
        };
        
    };
    if(ef==1)
    {
        return false;
    };
    if($("#upload").is(':checked'))
    {
        var text = $("#keyword").val();
        text=$.trim(text);
        $("#select_error").append('<br /><p>error:'+(text)+'</p>');
        var lines = text.replace( /\s+/g, " " ).split( " " );
        lines=jQuery.unique(lines);
        /*var temp=[];
        
        for(var j=0;j<lines.length;j++)
        {
            var indata=lines[j].split(" ");
            temp.push(indata);
        }
        temp=jQuery.unique(temp);*/
        $("#select_error").append('<br /><p>error:'+(lines)+'</p>');
        var count = lines.length;
        if(count<2)
        {
            alert("Need to input more than one probe or gene in step2.");
            return false;
        }
        if(count>100)
        {
            alert("Need to input less than 100 probes or genes in step2.");
            return false;
        }
    }
    for (var i=1;i<=num; i++)
    {
        var name={{same_name}}; 
        l=name.length;
        var cli_name={{d_name}}; 
        ll=cli_name.length;
        var full_name={{all_full_name}};
        for(var j=0;j<l-ll;j++)
        {
            if($("#"+name[j]+"_g"+i).is(':checked'))
            {
                if( !$("#select_"+name[j]+"_g"+i).val() ) 
                {
                    //alert("error!!");
                    ef=1;
                    $("#select_error").append('<br /><p style="color:red;">'+
                        'The cell line selection part of '+full_name[j]+' in Group'+ i +' cannot be empty.</p>');
                
                }
            };
        };
       
        for(var j=0;j<ll;j++)
        {
            if($("#"+cli_name[j]+"_g"+i).is(':checked'))
            {
                if( !$("#primd_"+cli_name[j]+"_g"+i).val() ) 
                {
                    //alert("error!!");
                    ef=1;
                    $("#select_error").append('<br /><p style="color:red;">'+
                        'The histology selection part of '+cli_name[j]+' in Group'+ i +' cannot be empty.</p>');
                
                }
            };
        };
    };

    if(ef==1)
    {
            return false;
    };
});
</script>
<script type="text/javascript">
$("input[name='user_type']").change(function(){
        if($("#upload").is(':checked')){
            $("div[id='keys']").show();
            $("div[id='significant']").hide();
        }
        if($("#all").is(':checked')){
            $("div[id='keys']").hide();
            $("div[id='significant']").show();
        }
});
$("input[name='data_platform']").change(function(){
        $("#select_error").empty();
        if($("#U133A-id").is(':checked')){
            $("div[id^='select_a_g']").show();
            $("div[id^='select_plus2_g']").hide();
            var name={{same_name}}; 
            l=name.length;
            for(var j=0;j<l;j++)
            {
                $("input[id^='"+name[j]+"_g']").removeAttr('checked');
            };
            $("select option").removeProp('selected').removeAttr('selected');
            $("select").multipleSelect("setSelects", []);
            $("select[name^='filter']").multipleSelect("checkAll");
            $("div[id*='_table_g']").hide();
            
            
        }
        if($("#PLUS2-id").is(':checked')){
            $("div[id^='select_a_g']").hide();
            $("div[id^='select_plus2_g']").show();
            var name={{same_name}}; 
            l=name.length;
            for(var j=0;j<l;j++)
            {
                $("input[id^='"+name[j]+"_g']").removeAttr('checked');
            };
            $("select option").removeProp('selected').removeAttr('selected');
            $("select").multipleSelect("setSelects", []);
            $("select[name^='filter']").multipleSelect("checkAll");
            $("div[id*='_table_g']").hide();
        }
    });
$(document).on('change',"input[name^='dataset_g']",function(){    //優化?
        //alert("changed!!");
        var $div = $('div[id^="group"]:last');
        var num = parseInt( $div.prop("id").match(/\d+/g), 10 );
        //$("#select_error").empty();     
        //$("#select_error").append('<br /><p style="color:red;">'+num+'</p>');
            for (var i=1;i<=num; i++)
            {
                var name={{same_name}}; 
                l=name.length;
                for(var j=0;j<l;j++)
                {
                    if($("#"+name[j]+"_g"+i).is(':checked'))
                    {               
                        //alert("show!!!!");
                        $("#"+name[j]+"_table_g"+i).show() ; 
                        //$("#select_error").append('<br /><p style="color:red;">'+name[j]+'_table_g_'+i+'should show</p>');    
                    }
                    else
                    {
                        $("#"+name[j]+"_table_g"+i).hide();
                        //$("#select_error").append('<br /><p style="color:blue;">'+name[j]+'_table_g_'+i+'should hide</p>');
                    }               
                };
            }

    
    });
$( "#delete_group" ).click(function() {
    var $div = $('div[id^="group"]:last');
    var num = parseInt( $div.prop("id").match(/\d+/g), 10 );
    if(num>2)
    {   
        $('div[id^="group"]:last').remove();
    }
});
$(document).on('click', '#add_group', function() {
    //$(function () {
        //$("#add_group").bind("click", function () {
            var index = $("#more_group h3").length+3;
            
            $("#more_group").append(
            '<div id="group'+index+'">'+
                '<h3 id="gname'+index+'">Group 2:</h3>'+
                '<div name="select_platform_g'+index+'" id="select_platform_g'+index+'">'+
                        '<p>Please select the datasets and related cell lines you want in each of the datasets.</p>'+                        
                        
                        '<div id="select_a_g'+index+'">'+
                            '<span class="help" style="color:red;" name="needed'+index+'">*Please check at least one dataset<br /></span>'+
                            '<p>Cell line datasets:</p>'+
                            '<label class="checkbox-inline"><input type="checkbox" name="dataset_g'+index+'" id="sanger_g'+index+'" value="Sanger Cell Line Project">Sanger Cell Line Project(SCLP)</label>'+
                        '</div>'+
                    
                        
                    
                        '<div id="select_plus2_g'+index+'">'+
                        '<span class="help" style="color:red;" name="needed'+index+'">*Please check at least one dataset<br /></span>'+
                            '<p>Cell line datasets:</p>'+
                            '<p>please select the data set(s) you want to compare:</p>'+
                            '<label class="checkbox-inline"><input type="checkbox" name="dataset_g'+index+'" id="nci_g'+index+'" value="NCI60">NCI60</label>'+
                            '<label class="checkbox-inline"><input type="checkbox" name="dataset_g'+index+'" id="ccle_g'+index+'" value="GSE36133">CCLE(GSE36133)</label>'+
                            '<p>Clinical datasets:</p>'+
                            
                            '<label class="checkbox-inline"><input type="checkbox" name="dataset_g'+index+'" id="Roth_g'+index+'" value="Roth">Roth normal dataset</label>'+
                            '<label class="checkbox-inline"><input type="checkbox" name="dataset_g'+index+'" id="expO_g'+index+'" value="expO">Expression Project for Oncology (expO)</label>'+
                        '</div>'+
                    
                '</div>'+
                '<script src="static/css/multiple-select.js"><\/script>'+

                '{% for name,alias,samples,dataset in cell_datasets %}'+
                    '<div class="panel panel-default" id="{{alias}}_table_g'+index+'">'+              
                      '<div class="panel-heading">{{name}}:</div>'+
                      '<div class="panel-body">'+
                        '<p>please select the cell lines you want:</p>'+
                        '<select multiple="multiple" id="select_{{alias}}_g'+index+'" name="select_{{alias}}_g'+index+'">'+
                        
                        '{% for p,cell in dataset %}'+
                        '<optgroup label="{{p}}" id="optgroup1">'+
                                '{% for c in cell %}'+
                                '<option value="{{ c }}">{{ c }}</option>'+
                                '{% endfor %}'+
                        '</optgroup>'+     
                        '{% endfor %}'+
                                 
                        '</select>'+
                      '</div>'+
                      '<div id="test_{{alias}}_g'+index+'"></div>'+
                      '<br />'+

                    '</div>'+
                '{% endfor %}'+
        
                
                '{% with needed="needed_" primd="primd_" primh="primh_" test="test_"%}'+ 
                '{% for name,dataset,filter in datasets %}'+
                
                '<div class="panel panel-default" id="{{name}}_table_g'+index+'">'+
                
                  '<span class="help" style="color:red;text-indent : 1em ;" name="{{needed}}{{name}}">*The primary histology selection part of {{name}} cannot be empty.<br /></span>'+
                  '<div class="panel-heading">{{name}}:</div>'+
                  '<div class="panel-body">'+
                    '<p>Please select the primary site or primary histology you want.</p>'+
                    '<select multiple="multiple" id="{{primd}}{{name}}_g'+index+'" name="{{primd}}{{name}}_g'+index+'">'+
                    '{% for prim,hist in dataset %}'+
                    '<optgroup label="{{prim}}" id="optgroup">'+
                            '{% for h in hist %}'+
                            '<option value="{{prim}}/{{ h }}">{{ h }}</option>'+
                            '{% endfor %}'+
                    '</optgroup>'+     
                    '{% endfor %}'+
                             
                    '</select>'+
                  
                    '<div id="{{test}}{{name}}_g'+index+'"></div>'+
                    '</br>'+
                    '<div name="filter_primd_g'+index+'">'+
                    '<p>Additional filter:(default is "All Selected")</p>'+
                            '<select multiple="multiple" id="filter_{{name}}_g'+index+'" name="filter_{{name}}_g'+index+'">'+
                                '{% for item,choice in filter %}'+
                                '<optgroup label="{{item}}" id="optgroup">'+
                                        '{% for h in choice %}'+
                                        '<option value="{{item}}/{{ h }}">{{ h }}</option>'+
                                        '{% endfor %}'+
                                '</optgroup>'+     
                                '{% endfor %}'+
                                     
                            '</select>'+
                      
                    '</div>'+
                    '</br>'+
                  '</div>'+
                '</div>'+
                '{% endfor %}'+
                '{% endwith %}'+
                
            '</div>'
               

            );
            var $head = $('h3[id^="gname"]:last');
            $head.text("Group "+index+":");
            var name={{same_name}};
            l=name.length;
            for(var j=0;j<l;j++)
            {
                $("select[id*='_"+name[j]+"_g"+index+"']").multipleSelect({
                filter: true,
                multiple: true,
                width: '100%'
                });
                $("select[name='filter_"+name[j]+"_g"+index+"']").multipleSelect("checkAll");
            }
            
            if($("#U133A-id").is(':checked')){
            $("div[id='select_a_g"+index+"']").show();
            $("div[id='select_plus2_g"+index+"']").hide();
            $("div[id*='_table_g"+index+"']").hide();
            
            };
            if($("#PLUS2-id").is(':checked')){
            $("div[id='select_a_g"+index+"']").hide();
            $("div[id='select_plus2_g"+index+"']").show();            
            $("div[id*='_table_g"+index+"']").hide();
            
            };
        });
    //});
</script>
<script>
//this part is to show the selected cell lines
$(document).on('change',"select[name^='select_']",function(){
    var str = "The cell line(s) you selected: ";
    var id=$(this).attr("id");
    id=id.replace('select_', '');
    //$("#select_error").append("<p>"+ id +"</p>");
    //var num = parseInt( $(this).prop("id").match(/\d+/g), 10 );
    $("select[name='select_"+id+"'] option:selected").each(function() {
      var indata=$( this ).text();
      str += $( this ).text() + " ,";
    });
    $( "#test_"+id ).text( str ).css("text-indent","1em");
  }).change(); 

$( "select[name^='primd']" ).change(function () {
    var str = "The primary histology you selected: ";
    var id=$(this).attr("id");
    id=id.replace('primd_', '');
    //$("#select_error").append("<p>"+ id +"</p>");
    $( "select[name='primd_"+id+"'] option:selected" ).each(function() {
      var indata=$( this ).text();
      str += $( this ).text() + " ,";
    });
    $( "#test_"+id ).text( str ).css("text-indent","1em");
  }).change();
</script>
{%endblock%}


