{% extends 'base.html' %}

{% block title %}Heatmap Result{% endblock title %}

{% block extra_css %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<!--<link href="//cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />-->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.1.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/1.1.0/css/select.dataTables.min.css">
<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-flash-1.1.0,bhtml5-1.1.0,b-print-1.1.0/datatables.min.css"/>-->

{% endblock extra_css %}

{% block content %}
<h1>Gene Signature Explore: Heatmap Result</h1>
</br>
<p>The heatmap will show the top 20 probes that are most significant.</p>
<!--<style>
img.big {
    height: 80%;
}
</style>-->
<div id="myDiv" >
<!-- Plotly chart will be drawn inside this DIV -->

</div>



{% endblock content %}

{% block scripts %}
<script src="//cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.1.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>

<script>
var data = [
  {
    z: {{expression}},
    //[[1, 20, 30, 50, 1], [20, 1, 60, 80, 30], [30, 60, 1, -10, 20]], //need to be expression data
    x: {{sample_out}},
    //['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'], // need to be cell line name
    y: {{probe_out}},
    //['Morning', 'Afternoon', 'Evening'], //need to be probe name(cluster with same gene names)
    type: 'heatmap'
  }
];
var layout = {
  title: 'Heatmap',
  autosize: false,
  width: 1140,
  height: 1500,
  margin: {
    l: 200,
    r: 50,
    b: 100,
    t: 100,
    pad: 4
  },
};
Plotly.newPlot('myDiv', data,layout);
</script>
{% endblock %}