{% extends 'base.html' %}

{% block title %}Help{% endblock title %}

{% block content %}
<h2>Help</h2>
<p>Following is the Tutorial and Examples to help you learn the usage of CellExpress:</p>
{% load static %}

<p>If you find any error/have questions, please feel free to contact us:)</p>
<p>Following is the sample input(NGS) file from GSE93385.</p>
<p><a class="btn btn-primary" href="/static/help/merged.genes.results.TPM.csv" role="button">SampleInput</a></p>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Example</h3>
  </div>
  <div class="panel-body">
      <p>Watch Youtube video for a quick start:</p> 
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Functions</th>
            <th>Example Links</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Gene Expression Search (Cell Line)</td>
            <td><a class="btn btn-info" href="https://youtu.be/OnAnHc8WxCk" target="_blank" role="button">Link</a></td>
          </tr>
          <tr>
            <td>Gene Expression Search (Clinical Sample)</td>
            <td><a class="btn btn-info" href="https://youtu.be/mfTd75OxH4Y" target="_blank" role="button">Link</a></td>
          </tr>
          <tr>
            <td>Similarity Assessment</td>
            <td><a class="btn btn-info" href="https://youtu.be/ceNxUeJncDw" target="_blank" role="button">Link</a></td>          
          </tr>
                    <tr>
            <td>Gene Signature Explore</td>
            <td><a class="btn btn-info" href="https://youtu.be/288JD0En-Ao" target="_blank" role="button">Link</a></td>          
          </tr>
          <tr>
            <td>User Data Upload</td>
            <td><a class="btn btn-info" href="https://youtu.be/xZCsds0Q2XU" target="_blank" role="button">Link</a></td>          
          </tr>

        </tbody>
     </table>
  </div>
</div>
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Tutorial</h3>
  </div>
  <div class="panel-body">
      <p>For detail information and usage of CellExpress</p>
      <p><a class="btn btn-warning" href="/static/help/CellExpress_Tutorial.pdf" role="button">Tutorial</a></p>

  </div>
</div>
{% endblock content %}