{% extends 'base.html' %}

{% block title %}Help{% endblock title %}

{% block content %}
<h2>Help</h2>
<p>Following is the Tutorial and Examples to help you learn the usage of CellExpress:</p>
{% load static %}

<p>If you find any error or having questions, please feel free to contact us:)</p>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Example</h3>
  </div>
  <div class="panel-body">
      <p>For a quick start and a test</p>  
      <p><a class="btn btn-info" href="/static/help/CellExpress_Examples.pptx" role="button">Example</a></p>

  </div>
</div>
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Tutorial</h3>
  </div>
  <div class="panel-body">
      <p>For detail information and usage of CellExpress</p>
      <p><a class="btn btn-warning" href="/static/help/CellExpress_Tutorial.pptx" role="button">Tutorial</a></p>

  </div>
</div>
{% endblock content %}