{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Welcome to Carkinos!!</h1>
    <h3>Cancer cell line database of microarray</h3>
    <hr />
    <p>This is a database for cell line information,
    especially Microarray information of Cancer cell line.<br />
    Designed and maintained by
    Bioinformatics and Biostatistics Core,NTU Center of Genomic Medicine</p>
    <br />
    <form action="{% url 'data' %}" method="get" target="_blank">
        <label for="gtype">Step1：Choose type of keywords (gene name or platform identifier)</label>
            <br />
            <p>Gene:</p>
            {#<input type="radio" name="gtype" value="">GenBank accession#}
            <input type="radio" name="gtype" value="symbol">Gene symbol
            <input type="radio" name="gtype" value="entrez">Entrez Gene ID
            <br />
            <br />
            <p>Platform identifier:</p>
            <input type="radio" name="gtype" value="probeid" checked>Probe ID
            <br />
            <br />
        <label for="keyword">Step2：Input keywords</label>
            <p>For more than one keywords, please seperate with space</p>
            <p>Example(probe id):1007_s_at 1053_at</p>
            <input id="keyword" type="text" name="keyword" >
            <br />
            <br />

        <label for="cellline">Step3：Enter the cell line name:</label>
            <p><a href="{% url 'cell_lines' %}" target="_blank">See All</a></p>
            <input id="cellline" type="text" name="cellline" >
            <br />
            <br />

        <label for="platform">Step4：Select the platform:</label>
            <br />
            <input type="radio" name="platform" value="U133A" checked>Affymetrix GeneChip HT-HG_U133A
            <br />
            <input type="radio" name="platform" value="U133B">Affymetrix GeneChip HT-HG_U133B
            <br />
            <br />

        <label for="norm_method">Step5：Normalize method:(not done)</label>
        <br />
        <br />
        <input type="submit" value="Submit">
    </form>
{% endblock content %}
