{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Welcome to Carkinos!!</h1>
    <h3>Cancer cell line database of microarray</h3>
    <hr />
    <p>This is a database for cell line information,
    especially Microarray information of Cancer cell line.<br />
    Designed and maintained by
    Bioinformatics and Biostatistics Core,NTU Center of Genomic Medicine</p>
    <br />
    <form action="{% url 'data' %}" method="get" target="_blank">
        <h3>Step1 - Choose type of keywords (gene name or platform identifier):</h3>
        <h4>Gene:</h4>
        <label class="radio-inline">
            <input type="radio" name="gtype" value="symbol">Gene symbol
        </label>
        <label class="radio-inline">
            <input type="radio" name="gtype" value="entrez">Entrez Gene ID
        </label>
        <!--
        <label class="radio-inline">
            <input type="radio" name="gtype" value="entrez">GenBank accession
        </label>
        -->
        <h4>Platform identifier:</h4>
        <label class="radio-inline">
            <input type="radio" name="gtype" value="probeid" checked>Probe ID
        </label>

        <h3>Step2 - Input keywords:</h3>
        <p>For more than one keywords, please seperate with space</p>
        <p>Example(probe id):1007_s_at 1053_at</p>
        <textarea id="keyword" name="keyword" style="width:300px;height:100px;" required="required" placeholder="Enter keyword"/></textarea>
        
        

        <h3>Step3 - Enter the cell line name:</h3>
        <p><a href="{% url 'cell_lines' %}" target="_blank">See All</a></p>
        <input id="cellline" type="text" name="cellline" >

        <h3>Step4 - Select the platform:</h3>
        <div class="radio">
            <label>
                <input type="radio" name="platform" value="U133A" checked>
                Affymetrix GeneChip HT-HG_U133A
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="platform" value="U133B">
                Affymetrix GeneChip HT-HG_U133B
            </label>
        </div>

        
        <div class="radio">
            <label>
                <input type="radio" name="platform" value="PLUS2">
                Affymetrix GeneChip U133 Plus 2.0
            </label>
        </div>
        <h3>Step5 - Normalize method:</h3>
        <p>(Not done)</p>
        <button class="btn btn-default" type="submit">Submit</button>
    </form>
{% endblock content %}
