{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Welcome to Carkinos!!</h1>
    <h3>Cancer cell line database of microarray</h3>
    <hr />
    <p>This is a database for cell line information,
    especially Microarray information of Cancer cell line.<br />
    Designed and maintained by
    Bioinformatics and Biostatistics Core,NTU Center of Genomic Medicine</p>
    <br />
    <form action="{% url 'data' %}" method="post" target="_blank">{% csrf_token %}
        <h3>Step1 - Choose type of keywords (gene name or platform identifier):</h3>
        <h4>Gene:</h4>
        <label class="radio-inline">
            <input type="radio" name="gtype" value="symbol">Gene symbol
        </label>
        <label class="radio-inline">
            <input type="radio" name="gtype" value="entrez">Entrez Gene ID
        </label>
        <!--
        <label class="radio-inline">
            <input type="radio" name="gtype" value="entrez">GenBank accession
        </label>
        -->
        <h4>Platform identifier:</h4>
        <label class="radio-inline">
            <input type="radio" name="gtype" value="probeid" checked>Probe ID
        </label>

        <h3>Step2 - Input keywords:</h3>
        <p>For more than one keywords, please seperate with space</p>
        <p>Example(probe id):1007_s_at 1053_at</p>
        <style type="text/css">  
                    .help {display: none}
                    
        </style> 
        <div class="form-group">
                 
                <label for="keyword">Keyword:</label>
                <textarea class="form-control" rows="5" id="keyword" name="keyword"
                style="width:300px;height:100px;" required="required" 
                placeholder="Enter keyword"/></textarea> 
                <span class="help" style="color:red;">*Please fill in this part</span>  
        </div>
        

        <h3>Step3 - Enter the cell line name:</h3>
        <p><a href="{% url 'cell_lines' %}" target="_blank">See All</a></p>
        <input id="cellline" type="text" name="cellline" >
        
        <!--a try to do primary site list-->
        
        <div>
        <p>Please select dataset(s)</p>
        <label class="checkbox-inline"><input type="checkbox" name="dataset" id="sanger" checked >Sanger cell line project</label>
        <label class="checkbox-inline"><input type="checkbox" name="dataset" id="roth" checked>Roth normal dataset</label>
        </div>
        <div id="checking"></div>
        <div>
            <select multiple="multiple">
                <div id="optgroup1">
                    <optgroup label="Sanger cell line project">
                        {% for s in keys1 %}
                            <option value="{{ s }}">{{ s }}</option>
                        {% endfor %}
                </div>
                <div id="optgroup2">
                    <optgroup label="Roth normal dataset">
                </div>
            </select>
        </div>
        
        
        
        <h3>Step4 - Select the platform:</h3>
        <div class="radio">
            <label>
                <input type="radio" name="platform" value="U133A" checked>
                Affymetrix GeneChip HT-HG_U133A
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="platform" value="U133B">
                Affymetrix GeneChip HT-HG_U133B
            </label>
        </div>       
        <div class="radio">
            <label>
                <input type="radio" name="platform" value="PLUS2">
                Affymetrix GeneChip U133 Plus 2.0
            </label>
        </div>
        
        
        <h3>Step5 - Normalize method:</h3>
        <p>(Not done)</p>
        <button class="btn btn-default" type="submit" id="submit">Submit</button>
        
    </form>
{% endblock content %}
{% block scripts %}
<script src="static/css/multiple-select.js"></script>
<script>
        $("select").multipleSelect({
            filter: true,
            multiple: true
        });
</script>
<script>
$("#submit").click(function() {  
  if ($("#keyword").val() == "") 
  {
    $("span.help").show(); 
    
  }
  if($("input[name='dataset']:checked").length == 0) 
  {
        alert("Please at least choose one choice in Step 3.");
        //how to stay in this page and don't let the data.html out?
  }
}); 
</script>
<!--counting how many checked options-->
<script>
var countChecked = function() {
  var n = $( "input[name='dataset']:checked" ).length;
  
  $( "#checking" ).text( n + (n === 1 ? " is" : " are") + " checked!" );
  
};
countChecked();
 
$( "input[type=checkbox]" ).on( "click", countChecked );
 
</script>
<!--have problems here-->
<script>
$("#sanger").click(function(){
    if($("#sanger").prop(checked))
    {
        $("#optgroup1").show();
    }
    else
    {
        $("#optgroup1").hide();
    }
});
</script>
{% endblock %}
