{% extends 'base.html' %}

{% block title %}Similarity Assessment{% endblock title %}

{% block content %}

<h1>Similarity Assessment</h1>
<p></p>
</br>
<form action="{% url 'pca' %}" method="post" target="_blank">{% csrf_token %}


<h3>Step1 - Select the PCA display method:</h3>
    <div class="radio">
            <label>
                <input type="radio" name="show_type" value="d_center" id="d_center" checked>
                Dots:one dot represents one cell line
            </label>
    </div>
    <div class="radio">
            <label>
                <input type="radio" name="show_type" value="d_sample" id="d_sample" >
                Dots:one dot represents one sample(one cell line may include several samples)
            </label>
            
    </div>
    </br>
<h3>Step2 - Choose microarray platform:</h3>
<style type="text/css">  
    .help {display: none}
</style> 
<div id="platform_type">
    <p>Please choose the platform:</p>
    <div class="radio">
        <label>
            <input type="radio" name="data_platform" value="U133A" id="U133A-id" checked>
            Affymetrix U133A platform
        </label>
    </div>
    
    <div class="radio">
        <label>
            <input type="radio" name="data_platform" value="PLUS2" id="PLUS2-id" >
            Affymetrix U133plus2 platform
        </label>
    </div>
    
</div>
</br>


<h3>Step3 - Define Groups:</h3>
<p>Each group will have different color.</p>
<p>Press "Add group" to add more group, and press "Delete group" to delete the last group.</p>
<p style="color:blue;">Notice: You can have at most 5 groups.</p>
<p style="color:blue;">Notice: You have to at least input or select 4 cell lines totally.</p>
<p style="color:blue;">Notice: If you input the same cell line in different groups, it will have the color of the prior one.</p>
<div  id="group1">    
    
        <h3>Group 1: Red</h3>
        <div name="select_platform_g1" id="select_platform_g1">
            <p>Please select the datasets and related cell lines you want in each of the datasets.</p>
            
            
            <div id="select_a_g1">
                <span class="help" style="color:red;" name="needed1">*Please check at least one dataset<br /></span>
                <p>Cell line datasets:</p>
                <label class="checkbox-inline"><input type="checkbox" name="dataset_g1" id="sanger_g1" value="Sanger Cell Line Project">Sanger Cell Line Project(SCLP)</label>
            </div>
        
            
        
            <div id="select_plus2_g1">
                <span class="help" style="color:red;" name="needed1">*Please check at least one dataset<br /></span>
                <p>Cell line datasets:</p>
                <label class="checkbox-inline"><input type="checkbox" name="dataset_g1" id="nci_g1" value="NCI60">NCI60</label>
                <label class="checkbox-inline"><input type="checkbox" name="dataset_g1" id="ccle_g1" value="GSE36133">CCLE(GSE36133)</label>
                
            
            
                <p>Clinical datasets:</p>
                <label class="checkbox-inline"><input type="checkbox" name="dataset_g1" id="Roth_g1" value="Roth">Roth normal dataset</label>
                <label class="checkbox-inline"><input type="checkbox" name="dataset_g1" id="expO_g1" value="expO">Expression Project for Oncology (expO)</label>
            
            </div>
        </div>
    <div name="select_g1" id="select_g1">
        {% for name,alias,samples,dataset in cell_datasets %}
            <div class="panel panel-default" id="{{alias}}_table_g1">              
              <div class="panel-heading">{{name}}:</div>
              <div class="panel-body">
                <p>please select the cell lines you want:</p>
                <select multiple="multiple" id="select_{{alias}}_g1" name="select_{{alias}}_g1">
                
                {% for p,cell in dataset %}
                <optgroup label="{{p}}" id="optgroup1">
                        {% for c in cell %}
                        <option value="{{ c }}">{{ c }}</option>
                        {% endfor %}
                </optgroup>     
                {% endfor %}
                         
                </select>
              </div>
              <div id="test_{{alias}}_g1"></div>
              <br />

            </div>
        {% endfor %}
        
        <!--The clinical sample part-->
        {% with needed="needed_" primd="primd_" primh="primh_" test="test_"%} 
        {% for name,dataset,filter in datasets %}
        <div class="panel panel-default" id="{{name}}_table_g1">
          <span class="help" style="color:red;text-indent : 1em ;" name="{{needed}}{{name}}">*The primary histology selection part of {{name}} cannot be empty.<br /></span>
          <div class="panel-heading">{{name}}:</div>
          <div class="panel-body">
            <p>Please select the primary site or primary histology you want.</p>
            <select multiple="multiple" id="{{primd}}{{name}}_g1" name="{{primd}}{{name}}_g1">
            {% for prim,hist in dataset %}
            <optgroup label="{{prim}}" id="optgroup">
                    {% for h in hist %}
                    <option value="{{prim}}/{{ h }}">{{ h }}</option>
                    {% endfor %}
            </optgroup>     
            {% endfor %}
                     
            </select>
          
            <div id="{{test}}{{name}}_g1"></div>
            </br>
            <div name="filter_primd_g1">
            <p>Additional filter:(default is "All Selected")</p>
                    <select multiple="multiple" id="filter_{{name}}_g1" name="filter_{{name}}_g1">
                        {% for item,choice in filter %}
                        <optgroup label="{{item}}" id="optgroup">
                                {% for h in choice %}
                                <option value="{{item}}/{{ h }}">{{ h }}</option>
                                {% endfor %}
                        </optgroup>     
                        {% endfor %}
                             
                    </select>
              
            </div>
            </br>
          </div>
        </div>
        {% endfor %}
        {% endwith %}
        
    </div>

</div>

<div id="add_groups">
{% for i in "2345" %}
    <div  id="more{{i}}">   
        
            <h3 id="gname{{i}}">Group {{i}}: Red</h3>
            <div name="select_platform_more{{i}}" id="select_platform_more{{i}}">
                <p>Please select the datasets and related cell lines you want in each of the datasets.</p>
                
                
                <div id="select_a_more{{i}}">
                    <span class="help" style="color:red;" name="needed_more{{i}}">*Please check at least one dataset<br /></span>
                    <p>Cell line datasets:</p>
                    <label class="checkbox-inline"><input type="checkbox" name="dataset_more{{i}}" id="sanger_more{{i}}" value="Sanger Cell Line Project">Sanger Cell Line Project(SCLP)</label>
                </div>
            
                
            
                <div id="select_plus2_more{{i}}">
                    <span class="help" style="color:red;" name="needed_more{{i}}">*Please check at least one dataset<br /></span>
                    <p>Cell line datasets:</p>
                    <label class="checkbox-inline"><input type="checkbox" name="dataset_more{{i}}" id="nci_more{{i}}" value="NCI60">NCI60</label>
                    <label class="checkbox-inline"><input type="checkbox" name="dataset_more{{i}}" id="ccle_more{{i}}" value="GSE36133">CCLE(GSE36133)</label>
                    
                
                
                    <p>Clinical datasets:</p>
                    <label class="checkbox-inline"><input type="checkbox" name="dataset_more{{i}}" id="Roth_more{{i}}" value="Roth">Roth normal dataset</label>
                    <label class="checkbox-inline"><input type="checkbox" name="dataset_more{{i}}" id="expO_more{{i}}" value="expO">Expression Project for Oncology (expO)</label>
                
                </div>
            </div>
        <div name="select_more{{i}}" id="select_more{{i}}">
            {% for name,alias,samples,dataset in cell_datasets %}
                <div class="panel panel-default" id="{{alias}}_table_more{{i}}">              
                  <div class="panel-heading">{{name}}:</div>
                  <div class="panel-body">
                    <p>please select the cell lines you want:</p>
                    <select multiple="multiple" id="select_{{alias}}_more{{i}}" name="select_{{alias}}_more{{i}}">
                    
                    {% for p,cell in dataset %}
                    <optgroup label="{{p}}" id="optgroup1">
                            {% for c in cell %}
                            <option value="{{ c }}">{{ c }}</option>
                            {% endfor %}
                    </optgroup>     
                    {% endfor %}
                             
                    </select>
                  </div>
                  <div id="test_{{alias}}_more{{i}}"></div>
                  <br />

                </div>
            {% endfor %}
            
            <!--The clinical sample part-->
        {% with needed="needed_" primd="primd_" primh="primh_" test="test_"%} 
        {% for name,dataset,filter in datasets %}
        <div class="panel panel-default" id="{{name}}_table_more{{i}}">
          <span class="help" style="color:red;text-indent : 1em ;" name="{{needed}}{{name}}">*The primary histology selection part of {{name}} cannot be empty.<br /></span>
          <div class="panel-heading">{{name}}:</div>
          <div class="panel-body">
            <p>Please select the primary site or primary histology you want.</p>
            <select multiple="multiple" id="{{primd}}{{name}}_more{{i}}" name="{{primd}}{{name}}_more{{i}}">
            {% for prim,hist in dataset %}
            <optgroup label="{{prim}}" id="optgroup">
                    {% for h in hist %}
                    <option value="{{prim}}/{{ h }}">{{ h }}</option>
                    {% endfor %}
            </optgroup>     
            {% endfor %}
                     
            </select>
          
            <div id="{{test}}{{name}}_more{{i}}"></div>
            </br>
            <div name="filter_primd_more{{i}}">
            <p>Additional filter:(default is "All Selected")</p>
                    <select multiple="multiple" id="filter_{{name}}_more{{i}}" name="filter_{{name}}_more{{i}}">
                        {% for item,choice in filter %}
                        <optgroup label="{{item}}" id="optgroup">
                                {% for h in choice %}
                                <option value="{{item}}/{{ h }}">{{ h }}</option>
                                {% endfor %}
                        </optgroup>     
                        {% endfor %}
                             
                    </select>
              
            </div>
            </br>
          </div>
        </div>
        {% endfor %}
        {% endwith %}
            
            
        </div>

    </div>




{% endfor %}
</div>    
    
    
    
<div id="error_display"></div>
<div id="select_error"></div>
</br>
<button type="button" class="btn btn-info" id="add_group">Add Group</button>
<button type="button" class="btn btn-info" id="delete_group">Delete Group</button>
</br>
</br>
<button class="btn btn-default" type="submit" id="submit">Submit</button>

</form>

{% endblock content %}

{% block scripts %}
<script src="static/css/multiple-select.js"></script>
<script>
        $("select").multipleSelect({
            filter: true,
            multiple: true,
            width: '100%'
        });
        $("select[name^='filter']").multipleSelect("checkAll");
</script>
<script>
$(document).ready(function () {
    $("div[id*='_table_g']").hide();  
    $("div[id^='select_platform_g']").show();
    $("div[id^='select_a_g']").show();
    $("div[id^='select_plus2_g']").hide();
    $("div[id^='more']").hide();
});  
$("#submit").click(function() { 
    var $div = $('div[id^="group"]:last');
    var num = parseInt( $div.prop("id").match(/\d+/g), 10 );
    //var cell_counter=0;
    

    var cell_counter=0;
    var ef=0;
    $("#select_error").empty();
    for (var i=1;i<=num; i++)
    {
        //alert("I am in select check!!");
        if($( "input[name='dataset_g"+i+"']:checked" ).length==0)
        {
            ef=1;
            $("span[name='needed"+i+"']").css('display', 'block');
        }
        else
        {
            $("span[name='needed"+i+"']").css('display', 'none');
        };
        
    };
    if(ef==1)
    {
        return false;
    };
    
    for (var i=1;i<=num; i++)
    {
        var name={{same_name}}; 
        l=name.length;
        var cli_name={{d_name}}; 
        ll=cli_name.length;
        var full_name={{all_full_name}};
        for(var j=0;j<l-ll;j++)
        {
            if($("#"+name[j]+"_g"+i).is(':checked'))
            {
                if( !$("#select_"+name[j]+"_g"+i).val() ) 
                {
                    //alert("error!!");
                    ef=1;
                    $("#select_error").append('<br /><p style="color:red;">'+
                        'The cell line selection part of '+full_name[j]+' in Group'+ i +' cannot be empty.</p>');
                
                }
            };
        };
       
        for(var j=0;j<ll;j++)
        {
            if($("#"+cli_name[j]+"_g"+i).is(':checked'))
            {
                if( !$("#primd_"+cli_name[j]+"_g"+i).val() ) 
                {
                    //alert("error!!");
                    ef=1;
                    $("#select_error").append('<br /><p style="color:red;">'+
                        'The histology selection part of '+cli_name[j]+' in Group'+ i +' cannot be empty.</p>');
                
                }
            };
        };
    };
    //fix this part!!!!
    /*
    var cell_content_sanger=[];
    var cell_content_nci=[];
    var cell_content_ccle=[];
    var total_cell=0;
    var uni_sanger=[];
    var uni_nci=[];
    var uni_ccle=[];
    var name={{same_name}}
    l=name.length;
        
    for (var i=1;i<=num; i++)
    {
        if($("#sanger_g"+i).is(':checked'))
        {
            //alert("I am in sanger checked!");
            $("select[name='select_sanger_g"+i+"'] option:selected").each(function() {
                          var indata=$( this ).text();
                          cell_content_sanger.push(indata);
            });
            uni_sanger=jQuery.unique(cell_content_sanger);
            //total_cell=total_cell+parseInt(uni_sanger.length,10);
        }
        if($("#nci_g"+i).is(':checked'))
        {
            $("select[name='select_nci_g"+i+"'] option:selected").each(function() {
                          var indata=$( this ).text();
                          cell_content_nci.push(indata);
            });
            uni_nci=jQuery.unique(cell_content_nci);
            //total_cell=total_cell+parseInt(uni_nci.length,10);
        }
        if($("#ccle_g"+i).is(':checked'))
        {
            $("select[name='select_ccle_g"+i+"'] option:selected").each(function() {
                          var indata=$( this ).text();
                          cell_content_ccle.push(indata);
            });
            uni_ccle=jQuery.unique(cell_content_ccle);
            //total_cell=total_cell+parseInt(uni_ccle.length,10);
        }
        
    }
    total_cell=total_cell+parseInt(uni_ccle.length,10)+parseInt(uni_nci.length,10)+parseInt(uni_sanger.length,10);
    //$("#select_error").append('<br /><p>sanger:'+(uni_sanger.length)+'</p>');
    //$("#select_error").append('<br /><p>ccle:'+(uni_ccle.length)+'</p>');
    //$("#select_error").append('<br /><p>nci:'+(uni_nci.length)+'</p>');
    //$("#select_error").append('<br /><p>total:'+(total_cell)+'</p>');
    if(total_cell<4)
    {
        //alert("I am here!!");
        ef=1;
        $("#select_error").append('<br /><p style="color:red;">' + 
                    'please select at least four cell lines in Step4(you may have duplicate one or do not have at least four)');
    }
    */
    
    
    if(ef==1)
    {
            //alert("I am in return false");
            return false;
    };
});
</script>
<script type="text/javascript">
//$(document).on('change', 'input[name="data_platform"]',function(){
$("input[name='data_platform']").change(function(){
    $("#select_error").empty();
    if($("#U133A-id").is(':checked')){
        $("div[id^='select_a_g']").show();
        $("div[id^='select_plus2_g']").hide();
        var name={{same_name}}; 
        l=name.length;
        for(var j=0;j<l;j++)
        {
            $("input[id^='"+name[j]+"_g']").removeAttr('checked');
        };
        $("select option").removeProp('selected').removeAttr('selected');
        $("select").multipleSelect("setSelects", []);
        $("select[name^='filter']").multipleSelect("checkAll");
        $("div[id*='_table_g']").hide();
        
        
    }
    if($("#PLUS2-id").is(':checked')){
        $("div[id^='select_a_g']").hide();
        $("div[id^='select_plus2_g']").show();
        var name={{same_name}}; 
        l=name.length;
        for(var j=0;j<l;j++)
        {
            $("input[id^='"+name[j]+"_g']").removeAttr('checked');
        };
        $("select option").removeProp('selected').removeAttr('selected');
        $("select").multipleSelect("setSelects", []);
        $("select[name^='filter']").multipleSelect("checkAll");
        $("div[id*='_table_g']").hide();
    }
    });
$(document).on('change',"input[name^='dataset_g']",function(){
        var $div = $('div[id^="group"]:last');
        var num = parseInt( $div.prop("id").match(/\d+/g), 10 );
            for (var i=1;i<=num; i++)
            {
                var name={{same_name}}; 
                l=name.length;
                for(var j=0;j<l;j++)
                {
                    if($("#"+name[j]+"_g"+i).is(':checked'))
                    {               
                        //alert("show!!!!");
                        $("#"+name[j]+"_table_g"+i).show() ;  
                    }
                    else
                    {
                        $("#"+name[j]+"_table_g"+i).hide();
                    }               
                };
            }

    
    });
$( "#delete_group" ).click(function() {
    var $div = $('div[id^="group"]:last');
    var index = parseInt( $div.prop("id").match(/\d+/g), 10 );
    if(index>1)
    {   
        
              //remove to the last line later
            document.getElementById("group"+index).id="more"+index;
            $('div[id="more'+index+'"]').hide();
            document.getElementById("select_platform_g"+index).setAttribute('name', 'select_platform_more'+index);
            document.getElementById("select_platform_g"+index).id="select_platform_more"+index;
            document.getElementById("select_g"+index).setAttribute('name', 'select_more'+index);
            document.getElementById("select_g"+index).id="select_more"+index;
            document.getElementById("select_a_g"+index).id="select_a_more"+index;
            document.getElementById("sanger_g"+index).setAttribute('name', 'dataset_more'+index);
            document.getElementById("sanger_g"+index).id="sanger_more"+index;
            document.getElementById("select_plus2_g"+index).id="select_plus2_more"+index;
            document.getElementById("nci_g"+index).setAttribute('name', 'dataset_more'+index);
            document.getElementById("nci_g"+index).id="nci_more"+index;
            document.getElementById("ccle_g"+index).setAttribute('name', 'dataset_more'+index);
            document.getElementById("ccle_g"+index).id="ccle_more"+index;
            document.getElementById("Roth_g"+index).setAttribute('name', 'dataset_more'+index);
            document.getElementById("Roth_g"+index).id="Roth_more"+index;
            document.getElementById("expO_g"+index).setAttribute('name', 'dataset_more'+index);
            document.getElementById("expO_g"+index).id="expO_more"+index;
            document.getElementsByName("filter_primd_g"+index)[0].setAttribute('name',"filter_primd_more"+index);
            tt=document.getElementsByName("needed"+index)
            for(i = 0;i < tt.length; i++)
            {
                tt[i].setAttribute('name',"needed_more"+index);
            }
           
            var celldatasets={{same_name}};
            l=celldatasets.length;  //because we have two clinical datasets
            for(var j=0;j<l;j++)
            {
                    
                    document.getElementById(celldatasets[j]+"_table_g"+index).id=celldatasets[j]+"_table_more"+index;  
                    document.getElementById("test_"+celldatasets[j]+"_g"+index).id="test_"+celldatasets[j]+"_more"+index;
                    if(j<=2)
                    {
                        document.getElementById("select_"+celldatasets[j]+"_g"+index).setAttribute('name', "select_"+celldatasets[j]+"_more"+index);
                        document.getElementById("select_"+celldatasets[j]+"_g"+index).id="select_"+celldatasets[j]+"_more"+index;
                    }
                    else
                    {
                        document.getElementById("primd_"+celldatasets[j]+"_g"+index).setAttribute('name', "primd_"+celldatasets[j]+"_more"+index);
                        document.getElementById("primd_"+celldatasets[j]+"_g"+index).id="primd_"+celldatasets[j]+"_more"+index;
                        document.getElementById("filter_"+celldatasets[j]+"_g"+index).setAttribute('name', "filter_"+celldatasets[j]+"_more"+index);
                        document.getElementById("filter_"+celldatasets[j]+"_g"+index).id="filter_"+celldatasets[j]+"_more"+index;
                    
                    }
                    $("select[id*='_"+celldatasets[j]+"_more"+index+"']").multipleSelect({
                    filter: true,
                    multiple: true,
                    width: '100%'
                    });
                    $("select[name='filter_"+celldatasets[j]+"_more"+index+"']").multipleSelect("checkAll");
                    $("select[id*='_"+celldatasets[j]+"_more"+index+"']").multipleSelect("setSelects", []);
                    $("input[id^='"+celldatasets[j]+"_more"+index+"']").removeAttr('checked');
                    $("select[name='filter_"+celldatasets[j]+"_more"+index+"'] option").removeProp('selected').removeAttr('selected');
            } ;
            
    }
    else
    {
        alert("You need to have at least one group!!");
    
    }
});
$(document).on('click', '#add_group', function() {
            
            var $div = $('div[id^="group"]:last');
            var index = parseInt( $div.prop("id").match(/\d+/g), 10 );
            if(index==5)
            {
                alert("Sorry, you can at most have 5 groups.");
                return false;
            };
            index=index+1;
            $('div[id="more'+index+'"]').show();
              //remove to the last line later
            document.getElementById("more"+index).id="group"+index;
            
            document.getElementById("select_platform_more"+index).setAttribute('name', 'select_platform_g'+index);
            document.getElementById("select_platform_more"+index).id="select_platform_g"+index;
            document.getElementById("select_more"+index).setAttribute('name', 'select_g'+index);
            document.getElementById("select_more"+index).id="select_g"+index;
            document.getElementById("select_a_more"+index).id="select_a_g"+index;
            document.getElementById("sanger_more"+index).setAttribute('name', 'dataset_g'+index);
            document.getElementById("sanger_more"+index).id="sanger_g"+index;
            document.getElementById("select_plus2_more"+index).id="select_plus2_g"+index;
            document.getElementById("nci_more"+index).setAttribute('name', 'dataset_g'+index);
            document.getElementById("nci_more"+index).id="nci_g"+index;
            document.getElementById("ccle_more"+index).setAttribute('name', 'dataset_g'+index);
            document.getElementById("ccle_more"+index).id="ccle_g"+index;
            document.getElementById("Roth_more"+index).setAttribute('name', 'dataset_g'+index);
            document.getElementById("Roth_more"+index).id="Roth_g"+index;
            document.getElementById("expO_more"+index).setAttribute('name', 'dataset_g'+index);
            document.getElementById("expO_more"+index).id="expO_g"+index;
            document.getElementsByName("filter_primd_more"+index)[0].setAttribute('name',"filter_primd_g"+index);
            tt=document.getElementsByName("needed_more"+index)
            for(i = 0;i < tt.length; i++)
            {
                tt[i].setAttribute('name',"needed"+index);
            }
           
            var celldatasets={{same_name}};
            l=celldatasets.length;  //because we have two clinical datasets
            for(var j=0;j<l;j++)
            {
                    
                    document.getElementById(celldatasets[j]+"_table_more"+index).id=celldatasets[j]+"_table_g"+index;  
                    document.getElementById("test_"+celldatasets[j]+"_more"+index).id="test_"+celldatasets[j]+"_g"+index;
                    if(j<=2)
                    {
                        document.getElementById("select_"+celldatasets[j]+"_more"+index).setAttribute('name', "select_"+celldatasets[j]+"_g"+index);
                        document.getElementById("select_"+celldatasets[j]+"_more"+index).id="select_"+celldatasets[j]+"_g"+index;
                    }
                    else
                    {
                        document.getElementById("primd_"+celldatasets[j]+"_more"+index).setAttribute('name', "primd_"+celldatasets[j]+"_g"+index);
                        document.getElementById("primd_"+celldatasets[j]+"_more"+index).id="primd_"+celldatasets[j]+"_g"+index;
                        document.getElementById("filter_"+celldatasets[j]+"_more"+index).setAttribute('name', "filter_"+celldatasets[j]+"_g"+index);
                        document.getElementById("filter_"+celldatasets[j]+"_more"+index).id="filter_"+celldatasets[j]+"_g"+index;
                    
                    }
                    $("select[id*='_"+celldatasets[j]+"_g"+index+"']").multipleSelect({
                    filter: true,
                    multiple: true,
                    width: '100%'
                    });
                    $("select[name='filter_"+celldatasets[j]+"_g"+index+"']").multipleSelect("checkAll");
            } ;
            
            
            //change this part
            var $head = $('h3[id="gname'+index+'"]');
            if(index==2){
                $head.text("Group "+index+": Blue");}
            if(index==3){
                $head.text("Group "+index+": Yellow");}
            if(index==4){
                $head.text("Group "+index+": Black");}
            if(index==5){
                $head.text("Group "+index+": Green");}
            
            
            if($("#U133A-id").is(':checked')){
            $("div[id='select_a_g"+index+"']").show();
            $("div[id='select_plus2_g"+index+"']").hide();
            $("div[id*='_table_g"+index+"']").hide();
            
            };
            if($("#PLUS2-id").is(':checked')){
            $("div[id='select_a_g"+index+"']").hide();
            $("div[id='select_plus2_g"+index+"']").show();            
            $("div[id*='_table_g"+index+"']").hide();
            
            };
            
        });
    //});
</script>
<script>
//this part is to show the selected cell lines
$(document).on('change',"select[name^='select_']",function(){
    var str = "The cell line(s) you selected: ";
    var id=$(this).attr("id");
    id=id.replace('select_', '');
    //$("#select_error").append("<p>"+ id +"</p>");
    $("select[name='select_"+id+"'] option:selected").each(function() {
      var indata=$( this ).text();
      str += $( this ).text() + " ,";
    });
    $( "#test_"+id ).text( str ).css("text-indent","1em");
  }).change(); 

$(document).on('change',"select[name^='primd_']",function(){
    var str = "The primary histology you selected: ";
    var id=$(this).attr("id");
    id=id.replace('primd_', '');
    //$("#select_error").append("<p>"+ id +"</p>");
    $( "select[name='primd_"+id+"'] option:selected" ).each(function() {
      var indata=$( this ).text();
      str += $( this ).text() + " ,";
    });
    $( "#test_"+id ).text( str ).css("text-indent","1em");
  }).change();
</script>
{%endblock%}


