{% extends 'base.html' %}

{% block title %}Upload File PCA Plot{% endblock title %}
{% block extra_css %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<!--<link href="//cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />-->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.1.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/1.1.0/css/select.dataTables.min.css">
<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-flash-1.1.0,bhtml5-1.1.0,b-print-1.1.0/datatables.min.css"/>-->

{% endblock extra_css %}
{% block content %}
    <h2>PCA RESULTS:Plot</h2>
    <h3>Dots:one dot represents one sample</h3>
    <div id="myDiv" style="width:100%;height:100%">
       
    
    
    
    
    </div>
    <p>Percentage of variance explained by 3D pca plot: {{propotion|floatformat:4}}</p>
    <p>Maximum distance:{{max|floatformat:4}}</p>
    <p>Minimum distance:{{min|floatformat:4}}</p>
    <hr>
    {% if big_flag %}
        <p>Because the distance table is too big, we provide csv file here, instead of showing the result on the website.</p>
        <p>Dataset Group Data:</p>
        {% load static %}
        <a href="{{STATIC_URL}}csv/{{data_file_name}}" download>Download link</a>
        <p>User Group Data:</p>
        <a href="{{STATIC_URL}}csv/{{user_file_name}}" download>Download link</a>
    {% else %}
        {% for index,output_cell in user_out_group %}
            <!--<div class="row">
                <div class="col-md-offset-1 col-md-10">-->
                    <h2>PCA Results: {{index}} Distance</h2>
                 
                    <table id="example_user" class="display">
                        <thead>
                        <tr>
                            <th>User Sample Name</th>
                            <th>Dataset</th>
                            <th>Paired Cell Line Name/</br>Clinical Sample</th>
                            <th>Sample Name</th>
                            <th>Primary Site</th>
                            <th>Primary Histology</th>
                            <th>Dataset</th>
                            <th>Distance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--This part need to fix with above column defined-->
                        {% for cell_line,b in output_cell %}
                            {% for sn,dset,cname,sname,cell_primary_site,cell_primary_hist,setname,dis in b %} 
                                <tr> 
                                    <td>{{ sn }}</td>
                                    <td>{{dset}}</td>
                                    <td>{{ cname }}</td>
                                    <td>{{ sname }}</td>
                                    <td>{{cell_primary_site}}</td>
                                    <td>{{cell_primary_hist}}</td>
                                    <td>{{setname}}</td>
                                    <td>{{ dis|floatformat:4 }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
            <!--    </div>
            </div>-->
        {% endfor %}
        <HR>
        
            {% for index,output_cell in out_group %}
            <!--<div class="row">
                <div class="col-md-offset-1 col-md-10">-->
                    <h2>PCA Results: {{index}} Distance</h2>
                 
                    <table id="example_dataset" class="display">
                        <thead>
                        <tr>
                            <th>Group Cell Line/</br>Clinical Sample</th>
                            <th>Sample Name</th>
                            <th>Primary Site</th>
                            <th>Primary Histology</th>
                            <th>Dataset</th>
                            <th>Paired Cell Line name/</br>Clinical Sample</th>
                            <th>Sample Name</th>
                            <th>Primary Site</th>
                            <th>Primary Histology</th>
                            <th>Dataset</th>
                            <th>Distance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--This part need to fix with above column defined-->
                        {% for cell_line,b in output_cell %}
                            {% for group_cell,sn,cell_line_primary_site,cell_line_primary_hist,dset,cname,sname,cell_primary_site,cell_primary_hist,setname,dis in b %} 
                                <tr> 
                                    <td>{{ group_cell }}</td>
                                    <td>{{ sn }}</td>
                                    <td>{{cell_line_primary_site}}</td>
                                    <td>{{cell_line_primary_hist}}</td>
                                    <td>{{dset}}</td>
                                    <td>{{ cname }}</td>
                                    <td>{{ sname }}</td>
                                    <td>{{cell_primary_site}}</td>
                                    <td>{{cell_primary_hist}}</td>
                                    <td>{{setname}}</td>
                                    <td>{{ dis|floatformat:4 }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
            <!--    </div>
            </div>-->
            {% endfor %}
        <HR> 
    {% endif %}
{% endblock content %}

{% block scripts %}
<script src="//cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.1.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>

<script>
 $(document).ready(function() {
 
 $('table[id^="example"]').DataTable({
        destroy: true,
        dom: 'lfrtBip',
        buttons: [
            'csv'
        ]
    } );
  
 } );
</script>
<script>
//need to change color and fix the views part
var trace5 = {
    x:{{X5}},
    y:{{Y5}},
    z:{{Z5}},
    mode: 'markers',
  marker: {
    color: 'rgb(16, 246, 16)',  //green
    size: 12,
    symbol: 'circle',
    line: {
      color: 'rgb(204, 204, 204)',
      width: 1
    },
    opacity: 0.9
  },
  text: {{name5}},
  name: 'Dataset Group3',
  type: 'scatter3d'
};
var trace4 = {
    x:{{X4}},
    y:{{Y4}},
    z:{{Z4}},
    mode: 'markers',
  marker: {
    color: 'rgb(9, 9, 1)',  //black
    size: 12,
    symbol: 'circle',
    line: {
      color: 'rgb(204, 204, 204)',
      width: 1
    },
    opacity: 0.9
  },
  text: {{name4}},
  name: 'Dataset Group2',
  type: 'scatter3d'
};
var trace3 = {
    x:{{X3}},
    y:{{Y3}},
    z:{{Z3}},
    mode: 'markers',
  marker: {
    color: 'rgb(255, 255, 0)',  //yellow
    size: 12,
    symbol: 'circle',
    line: {
      color: 'rgb(204, 204, 204)',
      width: 1
    },
    opacity: 0.9
  },
  text: {{name3}},
  name: 'Dataset Group1',
  type: 'scatter3d'
};
var trace2 = {
    x:{{X2}},
    y:{{Y2}},
    z:{{Z2}},
    mode: 'markers',
  marker: {
    color: 'rgb(0, 0, 255)',  //blue
    size: 12,
    symbol: 'circle',
    line: {
      color: 'rgb(204, 204, 204)',
      width: 1
    },
    opacity: 0.9
  },
  text:{{name2}},  
  name: 'User Group2',
  type: 'scatter3d'
};
var trace1 = {
    x:{{X1}},
    y:{{Y1}},
    z:{{Z1}},
    mode: 'markers',
  marker: {
    color: 'rgb(255, 0, 0)',  //red
    size: 12,
    symbol: 'circle',
    line: {
      color: 'rgb(204, 204, 204)',
      width: 1
    },
    opacity: 0.9
  },
  text: {{name1}},  //fix to name1 later
  name: 'User Group1',
  showlegend: true,
  type: 'scatter3d'
};
var data = [trace1,trace2,trace3,trace4,trace5];
var layout = {margin: {
    l: 0,
    r: 0,
    b: 0,
    t: 0
  },
  legend: {"orientation": "h"}
  };
Plotly.newPlot('myDiv', data, layout);

</script>
{% endblock %}